.loading {
  margin-top: 10px;
  text-align: center;
  animation: move 2s infinite ease-in-out;
}
.movie {
  color: #fff;
  margin: 3px;
  padding: 10px;
  width: 31%;
  border-radius: 6px;
  background: linear-gradient(#80b0a0, #528f7a);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@keyframes move {
  from,
  to {
    margin-left: -100px;
    color: #02f885;
  }
  25%,
  75% {
    margin-left: 100px;
    color: #ffffff;
  }
  50% {
    margin-left: 0;
    color: #fff;
  }
}
